@model IEnumerable<ITP245_Model.Vendor>

@{
    ViewBag.Title = "Vendors";
    Layout = "~/Areas/Inventory/Views/Shared/_Inventory.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Create New Vendor &raquo;"), "Create", null, null, new { @class = "btn btn-primary" })
    &nbsp;&nbsp;&nbsp;<label class="filter">Filter by</label>&nbsp;&nbsp;&nbsp;<label class="filter">State</label>&nbsp;&nbsp;&nbsp;
    @Html.DropDownList("State", null, htmlAttributes: new { @class = "filter", @onchange = "FillByTag()" })

</p>

<div id="vendorContainer">
    @Html.Partial("_Index", Model)
</div>

@section Scripts {
    <script type="text/javascript">
        function FillByTag() {
            var parm = $('#State').val();
            var container = $('#vendorContainer');
            container.load('@Url.Action("_IndexByTag")?parm=' + parm);
            console.log(parm);
        }
    </script>
}