@model ITP245_2021_Fall.Models.About
@{
    ViewBag.Title = "About";
}
@*<link href="~/Content/aboutStyle.css" rel="stylesheet" />*@


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">@Model.FirstName @Model.LastName</h1>
            <h3 class="lead">@Model.Description</h3>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/Content/images/olive.png" class="d-block mx-lg-auto img-fluid" alt="Michael with puggle" width="200" height="200" loading="lazy">
        </div>
    </div>
</div>
<hr />


    @*@Html.Raw(Model.AboutPhoto)*@



<div class="goals px-4 py-3">

    <div class="d-flex justify-content-center">
        <div style="width: 400px" class="p-2">
            <ul class="list-unstyled">
                <li><h2>CAREER GOALS</h2></li>
                @for (int x = 0; x < Model.Goals.Count; x++)
                {
                    <li>@Html.Raw(Model.Goals[x])</li>
                }
            </ul>
        </div>
        <div class="p-2">
            <img width="400" src="~/Content/images/My Post.jpg" class="" alt="laptop and some hands" />
        </div>
    </div>  
</div>


<div class="hob px-4 py-3">
    <div class="d-flex justify-content-center">
        <div style="width: 400px" class="p-2">
            <ul class="list-unstyled">
                <li><h2>HOBBIES</h2></li>
                @for (int x = 0; x < Model.Hobbies.Count; x++)
                {
                    <li>@Html.Raw(Model.Hobbies[x])</li>
                }
            </ul>
        </div>
        <div class="p-2">
            <img class="float-end" width="400" src="~/Content/images/surfo.jpg" alt="stock art of drum set" />
        </div>
    </div>
</div>


<div class="form">
    <form>
        <input type="checkbox" id="input1" name="input1" value="robot" />
        <label for="input1">I am a robot</label><br />
        <input type="checkbox" id="input2" name="input2" value="human" />
        <label for="input2">I am a human person</label><br />
    </form>
</div>


