@model ITP245_2021_Fall.Models.About
@{
    ViewBag.Title = "About";
}
<link href="~/Content/aboutStyle.css" rel="stylesheet" />
<h3>@ViewBag.Message</h3>

<div class="header">
    <h2 style="text-align:right;">@ViewBag.TodaysDate</h2>
    <div class="intro">
        <div>@Html.Raw(Model.AboutPhoto)</div>
        <div class="headerText">
            <h1>@Model.FirstName @Model.LastName</h1>
            <h3>@Model.Description</h3>
        </div>
    </div>


</div>


<div class="goals">



    <div>
        <ul class="goalList">
            <li><h2>CAREER GOALS</h2></li>
            @for (int x = 0; x < Model.Goals.Count; x++)
            {
        <li>@Html.Raw(Model.Goals[x])</li>
            }
        </ul>
    </div>
    <div><img width="400" src="~/Content/images/My Post.jpg" alt="laptop and some hands" /></div>
</div>


<div class="hob">
    <div><img width="400" src="~/Content/images/drummy.jpeg" alt="stock art of drum set" /></div>
    <div>
        <ul class="hobList">
            <li><h2>HOBBIES</h2></li>
            @for (int x = 0; x < Model.Hobbies.Count; x++)
            {
                <li>@Html.Raw(Model.Hobbies[x])</li>
            }
        </ul>
    </div>
</div>


<div class="form">
    <form>
        <input type="checkbox" id="input1" name="input1" value="robot" />
        <label for="input1">I am a robot</label><br />
        <input type="checkbox" id="input2" name="input2" value="human" />
        <label for="input2">I am a human person</label><br />
    </form>
</div>


