
@model ITP245_Model.PurchaseOrder

<h2>PoItem for Order #@Model.PurchaseOrderNumber</h2>

@Html.HiddenFor(model => model.PurchaseOrderNumber)
<div id="itemContainer"></div>

<div class="form-group">
    <div class="container">
        <table class="table">

            <tr>
                <th>In Order?</th>
                <th>Title</th>
                <th>Standard Cost</th>
                <th>Quantity</th>

            </tr>

            @if (Model != null)
            {
                foreach (var item in Model.PoItems)
                {
                    <tr>
                        <td>@Html.CheckBox(String.Format("PoItem|{0}", item.ItemId), item.InPurchaseOrder, new { id = String.Format("PoItem|{0}", item.ItemId), onchange = String.Format("changePoItem({0})", item.ItemId) })</td>
                        <td>@item.Item.Name</td>
                        <td>@item.Item.Price</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
