@model IEnumerable<ITP245_Model.Item>

@{
    ViewBag.Title = "ITEMS";
    Layout = "~/Areas/Inventory/Views/Shared/_Inventory.cshtml";
}

<h2>@ViewBag.Title</h2>


<p>
    @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Create New Item &raquo;"), "Create", null, null, new { @class = "btn btn-primary" })
    &nbsp;&nbsp;&nbsp;<label class="filter">Filter by</label>&nbsp;&nbsp;&nbsp;<label class="filter">Format</label>&nbsp;&nbsp;&nbsp;
    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "filter", @onchange = "FillByTag()" })
    &nbsp;&nbsp;&nbsp;<label class="filter">Search by Item Name</label>&nbsp;&nbsp;&nbsp;
    @Html.TextArea("Search", null, htmlAttributes: new { @class = "filter", @onchange = "FilterByName()", @rows = "1" })
</p>

<div id="itemContainer">
    @Html.Partial("_index", Model)
</div>

@section Scripts {
    <script type="text/javascript">
        function FillByTag() {
            var itemId = $('#CategoryId').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_IndexByTag")?id=' + itemId);
        }
        function FilterByName() {
            var parm = $('#Search').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_IndexByName")?parm=' + parm);
        }
    </script>
    }